html {
  box-sizing: border-box;
  background: linear-gradient(
    90deg, #f3d877, orange);
}

* {
  box-sizing: inherit;

}

nav {
  display: flex;
  justify-content: right;
  align-items: center;
}

h1,h2 {
  display: flex;
  justify-content:center;
  align-items: center;
  width: fit-content;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  color: rgb(27, 27, 27);
}

p {
  margin: auto;
  margin-block: 15px;
  padding: 10px;
  border: 1px solid rgb(230, 206, 28);
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  background: linear-gradient(
    90deg, #f3d877, orange);
  text-align: center;
  display: flex;
  justify-content:center;
  align-items: center;
  font-size: 16px;
  box-shadow: rgb(82, 82, 82) 6px 0 6px;
}

.grid-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 100px;
  align-items: center;

}

.box-1, .box-2, .box-3, .box-4 {
  width: 70%;
  height: 30px;
  padding: 50px;
  margin: auto;
  margin-block: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(230, 206, 28);
  border-radius: 10px;
  background: linear-gradient(
    90deg, #f3d877, orange);
  box-shadow: rgb(82, 82, 82) 6px 0 6px;
}

.footer-1 {
  width: 200px;
  height: 30px;
  border: 0.5px solid rgb(230, 206, 28);
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg, #f3d877, orange);
  border-radius: 3px;
  padding: 1.5px;
  margin: auto;
  margin-block: 15px;
  box-shadow: rgb(82, 82, 82) 6px 0 6px;
}

.footer-2 {
  width: 125px;
  height: 30px;
  border: 0.5px solid rgb(230, 206, 28);
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg, #f3d877, orange);
  border-radius: 3px;
  padding: 1.5px;
  margin: auto;
  margin-block: 15px;
  box-shadow: rgb(82, 82, 82) 6px 0 6px;
}


.nav-button {
  background: linear-gradient(
    90deg, #f3d877, orange);
  border-radius: 5px;
  font-weight: bold;
}

.nav-button:hover {
  background: rgb(254, 174, 24);
  box-shadow: rgb(82, 82, 82) 3px 0 3px;
}

a {
  text-decoration: none;
  color: rgb(77, 77, 77);
}

a:active {
  text-decoration: none;
  font-size: 15px;
  color: black;
}

a:visited {
  color: #000;
}
